<div>
<div dojoType="dijit.layout.BorderContainer" 
    style="width:600px;height:500px;">
    <div dojoType="dijit.layout.TabContainer" region="left">
        <div dojoType="dijit.layout.ContentPane" title="Sets">
            List detail sets
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Details">
            List details
        </div>
        <div dojoType="dijit.layout.ContentPane" title="Templates">
            List templates#inactive
        </div>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="right">
        <div dojoType="dijit.layout.ContentPane" region="left">tab pane #1</div>
        <div dojoType="dijit.layout.ContentPane" region="right">tab pane #2</div>
    </div>
    <div dojoType="dijit.layout.ContentPane" region="bottom">Bottom pane</div>
</div>
</div>
