<div id="details" class="table">
    <div class="thead">
    <div class="tr">
        <span class="th">Id</span>
        <span class="th">Name</span>
        <span class="th">Norwegian name</span>
        <span class="th">Data type</span>
        <span class="th">Display as</span>
    </div>
    </div>
    <div class="tbody">
{% for item in data.records %}
    <form id="detail_row_{{item.id}}"
        action="/details?module=Details&service=SaveDetail&id={{ item.id }}"
        class="tr autosaveForm" method="post">
        <div class="td">[#{{item.id}}]</div>
        <div class="td">
            <input type="text" 
                name="title"
                id="title_{{ item.title}}"
                value="{{ item.title }}" 
                class="autosave string" />
        </div>
        <div class="td">
            <input type="text" 
                name="titleI18N"
                id="titleI18N_{{ item.title}}"
                value="{{ item.titleI18N }}" 
                class="autosave string" />
        </div>
        <div class="td"><select name="type" class="autosave string" id="type_{{ item.type}}">
            {% for type in data.types %}
                {% ifequal item.type type %}
                <option value="{{ type }}" selected="selected">
                    {{type}}
                </option>
                {% endifequal %}
                {% ifnotequal item.type type %}
                <option value="{{ type }}">{{type}}</option>
                {% endifnotequal %}
            {% endfor %}
        </select></div>
        <div class="td">Display as ...</div>
        <div class="td">
            <a href="/details?module=Details&service=DeleteDetail&id={{item.id}}">[X]</a>
        </div>
    </form>
{% endfor %}
    </div>
</div>
