<fieldset>
    <form>
        <label for="title">Title</label>
        {%if data.title%}
        <input type="text" name="title" id="title" value="{{data.title}}"/>
        {%else%}
        <input type="text" name="title" id="title" />
        {%endif%}
        <label for="titleI18N">Norwegian title</label>
        {%if data.title%}
        <input type="text" name="title" id="titleI18N" value="{{data.titleI18N}}"/>
        {%else%}
        <input type="text" name="title" id="titleI18N" />
        {%endif%}
        {%ifequal data.prefix "detail"%}
        <select name="type" class="autosave string" id="type_{{item.id}}">
        {% for type in data.types %}
            {% ifequal item.type type %}
            <option value="{{ type }}" selected="selected">
                {{type}}
            </option>
            {% else %}
            {% endifequal %}
            {% ifnotequal item.type type %}
            <option value="{{ type }}">{{type}}</option>
            {% endifnotequal %}
        {% endfor %}
        </select>
        {%endifequal%}
    </form>
    <hr class="break" />
    <form>
        <button type="submit">Delete</button>
    </form>
</fieldset>
