<div dojoAttachPoint="domNode">
    <h1>Detail sets</h1>
    <!-- Add new detail set markup -->
    <div dojoType="dijit.form.DropDownButton">
        <span>Add set</span>
        <div dojoType="dijit.TooltipDialog" id="add_set">
            <label for="set_title">Title:</label>
            <input dojoType="dijit.form.TextBox" 
                type="text" name="title" id="set_title" />
            <div dojoType="dijit.form.Button" type="submit">
                Create
            </div>
        </div>
    </div>
    <div id="set_list_container">
        <div id="set_list"></div>
    </div>
</div>
