/**
 * PRICEGUIDE BACKEND CSS
 *
 * Author: Mads Erik Forberg <mads@hardware.no>
 *
 */


/**
 * General element styling
 *
 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: black;
    font-size: 10pt;
}

a {
    font-size: 14pt;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/**
 * Helper classes
 *
 */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clear {
    clear: both;
}

.clearL {
    clear: left;
}


/**
 * Standard grids
 *
 */

.grid {
    float: left;
}

.grid.right {
    float: right;
}

.grid.one {
    width: 900px;
}

.grid.two {
    width: 700px;
}

.grid.three {
    width: 500px;
}

.grid.half {
    width: 50%;
}

.grid.stdMarginL {
    margin-left: 20px;
}

.grid.stdMarginR {
    margin-right: 20px;
}


#header {
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #444;
    background: #333366;
    font-weight: bold;
}

#header #menu {
    list-style: none;
    padding-top: 20px;
}

#header #menu li {
    float: left;
    margin-left: 15px;
}

#header #menu a {
    color: #fff;
}

/* CONTENT */
#content {
    padding: 15px;
}

