/**
 * PRICEGUIDE BACKEND CSS
 *
 * Author: Mads Erik Forberg <mads@hardware.no>
 *
 */


/**
 * General element styling
 *
 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
    color: black;
    font-size: 10pt;
}

a {
    color: #0b5aab;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

fieldset {
    border: 1px solid #000;
    padding: 15px;
    margin: 0.3em 0;
}

fieldset legend {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 4px 6px;
    font-weight: bold;
}

label {
    font-weight: bold;
    cursor: pointer;
}

input {
    margin: 0 0 10px 6px;
}

input[type=submit] {
}

h2 {
    font-size: 1.7em;
    margin: 0.3em 0 0.5em;
}

h3 {
    font-size: 1.5em;
    margin: 0.3em 0 0.4em;
}

h4 {
    font-size: 1.2em;
    margin: 0.3 0 0.4em;
}

ul {
    list-style: none;
}

ul > li {
    padding-top: 5px;
}

ul li ul {
    margin-left: 2em;
}

ul span {
    padding-top: 5px;
    color: #999;
    left: 180px;
    position:absolute;
}

p {
    margin: 0.3em 0;
}


/**
 * Helper classes
 *
 */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clear {
    clear: both;
}

.clearL {
    clear: left;
}


/**
 * Standard grids
 *
 */

.grid {
    float: left;
}

.grid.right {
    float: right;
}

.grid.one {
    width: 900px;
}

.grid.two {
    width: 700px;
}

.grid.three {
    width: 500px;
}

.grid.four {
    width: 300px;
}

.grid.half {
    width: 50%;
}

.grid.twoThirds {
    width: 70%;
}

.grid.oneThirds {
    width: 30%;
}

.grid.stdMarginL {
    margin-left: 20px;
}

.grid.stdMarginR {
    margin-right: 20px;
}


#header {
    width: 100%;
    height: 50px;
    border-bottom: 4px solid #444;
    background: #333366;
    font-weight: bold;
}

#header #menu {
    list-style: none;
    padding-top: 20px;
}

#header #menu li {
    float: left;
    margin-left: 15px;
}

#header #menu a {
    font-size: 14pt;
    display: block;
    color: #fff;
}

#header #menu .selected {
    background-color: #fff;
    color: #000;
    padding: 6px;
}

/* CONTENT */
#content {
    padding: 15px;
}
