/**
 * PRICEGUIDE BACKEND CSS
 *
 * Author: Mads Erik Forberg <mads@hardware.no>
 *
 */


/**
 * General element styling
 *
 */
body {
    font-family: Arial, Verdana, sans-serif;
}


/**
 * Helper classes
 *
 */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.clear {
    clear: both;
}

.clearL {
    clear: left;
}

.clearR {
    clear: right;
}

.noOverflow {
    overflow: hidden;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.none {
    display: none;
}

.hidden {
    visibility: hidden;
}


/**
 * Main containers
 *
 */

#header {
}

#content {
}

#footer {
}
